/*================ Global =================*/
body {
    margin: 0;
}

body.disable-scroll {
    overflow: hidden;
}
/*================ End of Global =================*/

/*================ Loading section =================*/
#loading {
    position: fixed;
    background: linear-gradient(180deg, #451263 0%, #0A0012 91.98%);
    height: 100%;
    width: 100%;
    z-index: 100000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
@media (max-width: 1559px) {
    #loading img {
        max-width: 300px;
    }
}
@media (max-width: 1023px) {
    #loading img {
        max-width: 200px;
    }
}

#loading p {
    margin: 0;
    font-family: 'Burbank Big Regular', sans-serif;
    font-size: 2.25rem;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
}
@media (max-width: 1023px) {
    #loading p {
        font-size: 1.25rem;
    }
}

/*================ End of Loading section =================*/

/*================ Intro section =================*/
#intro {
    min-height: 100vh;
    width: 100vw;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    padding: 50px 0;
    box-sizing: border-box;
    cursor: pointer;
}

#intro.cursor-default {
    cursor: default;
}

#intro .intro-bg-img {
    position: absolute;
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#intro .intro-bg-overlay {
    position: absolute;
    background-color: #000000;
    opacity: 0.4;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

#intro .intro-bg {
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

#intro .intro-bg img {
    scale: 1.5;
    transform-origin: 0 50%;
    -webkit-transform-origin: 0 50%;
    position: relative;
    min-height: 100%;
    min-width: 120%;
    object-fit: cover;
}

#intro .intro-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 50%;
    transition: height 1s ease;
    position: relative;
    margin: 0 auto;
}
#intro .intro-group.animating {
    /* for animation at screen size below 1024px */
    height: 0;
}
@media (max-width: 1279px) {
    #intro .intro-group {
        max-width: 70%;
    }
}
@media (max-width: 1023px) {
    #intro .intro-group {
        max-width: 100%;
        height: 90%;
        justify-content: space-evenly;
    }
}
@media (max-width: 767px) {
    #intro .intro-group {
        height: 100%;
    }
}

#intro .intro-group img {
    max-width: 100%;
}

#intro .intro-group .logo-wrapper {
    position: relative;
    max-width: 70%;
}
@media (max-width: 1023px) {
    #intro .intro-group .logo-wrapper {
        max-width: 432px;
    }
}
@media (max-width: 767px) {
    #intro .intro-group .logo-wrapper {
        max-width: 200px;
    }
}

#intro .intro-group .charactors-group {
    position: relative;
    filter: brightness(0.7);
    transition: height 0.3s ease;
}

#intro .intro-group .intro-text {
    position: absolute;
    margin: 0;
    font-family: "Montserrat", sans-serif;
    color: #fff;
    font-weight: 400;
    font-size: 1rem;
    text-align: center;
    top: 40%;
    transition: opacity 1s ease, top 1s ease;
}

#intro .intro-group .intro-text.hide {
    opacity: 0;
    top: 50%;
}

#intro .clouds {
    position: absolute;
    height: 100%;
    width: inherit;
    overflow: hidden;
    max-width: 100%;
}

#intro .clouds img {
    position: absolute;
}

#intro .clouds .cloud-1 {
    left: 0;
    top: 0;
    transform: translate(-50%, -50%);
}

#intro .clouds .cloud-2 {
    right: 0;
    top: 0;
    transform: translate(35%, -30%);
}

#intro .clouds .cloud-3 {
    left: 0;
    bottom: 0;
    transform: translate(-10%, 30%);
}

#intro .clouds .et_pb_code_inner {
    height: 100%;
}

#intro .clouds .cloud-1,
#intro .clouds .cloud-2,
#intro .clouds .cloud-3 {
    min-height: 160%;
    max-width: max-content;
}

#intro .scroll-down {
    position: absolute;
    left: 0%;
    bottom: 25%;
    transform: rotate(90deg);
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 1.25rem;
    transition: opacity 0.3s ease;
}
@media (max-width: 1279px) {
    #intro .scroll-down {
        font-size: 1rem;
        bottom: 15%;
    }
}
@media (max-width: 1023px) {
    #intro .scroll-down {
        left: -3%;
    }
}
@media (max-width: 767px) {
    #intro .scroll-down {
        left: -4%;
        font-size: 0.75rem;
    }
}

#intro .scroll-down.hide {
    opacity: 0;
}

#intro .scroll-down p {
    font-size: inherit;
    font-family: "Montserrat", sans-serif;
    letter-spacing: 0.11em;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
    margin: 0 15px 0 0;
}
@media (max-width: 1279px) {
    #intro .scroll-down img {
        width: 20px;
    }
}
@media (max-width: 767px) {
    #intro .scroll-down img {
        width: 16px;
    }
}

@keyframes introScrollBox {
    0%,
    25% {
        right: 0;
        opacity: 0;
    }
    30% {
        right: 0;
        opacity: 1;
        transform: translateX(100%) rotate(0deg);
    }
    50% {
        opacity: 1;
    }
    100% {
        right: -70%;
        opacity: 0;
        transform: translateX(100%) rotate(90deg);
    }
}
#intro .scroll-down img {
    position: absolute;
    right: 0;
    transform: translateX(100%);
    animation: introScrollBox 2s infinite ease-in-out;
}

#intro .join-community {
    position: fixed;
    max-width: 150px;
    right: 2%;
    bottom: 2%;
    display: flex;
    transition: max-height 0.3s ease, opacity 0.3s ease;
    z-index: 99;
}

#intro .join-community.hide {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
}

#intro .join-community .cloud {
    position: relative;
    max-width: 100%;
}

#intro .join-community .cloud img {
    max-width: 100%;
}

#intro .join-community .cloud .jc-text {
    position: absolute;
    top: 60%;
    left: 48%;
    transform: translate(-50%, -50%);
    margin: 0;
    font-family: "Burbank Big Regular", sans-serif;
    font-weight: 600;
    font-size: 0.938rem;
    color: #089cd7;
    text-align: center;
    transition: opacity 0.3s ease;
    white-space: nowrap;
}
@media (max-width: 1023px) {
    #intro .join-community .cloud .jc-text {
        font-size: 0.875rem;
    }
}
@media (max-width: 1023px) {
    #intro .join-community .cloud .jc-text {
        font-size: 0.75rem;
    }
}

#intro .join-community .social-list {
    position: absolute;
    right: 11px;
    top: -20px;
    transform: translateY(-100%);
    background-color: #ffffff;
    padding: 20px 10px;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 30px;
    max-width: 50px;
}

#intro .join-community .social-list img {
    max-width: 100%;
}

#intro .join-community .social-list ul {
    margin: 0;
    list-style: none;
    padding: 0;
    max-height: 0;
    max-width: 0;
    overflow: hidden;
    transition: max-height 0.3s ease, max-width 0.3s ease;
}

#intro .join-community .social-list ul.show {
    max-height: 500px;
    max-width: 50px;
}

#intro .join-community .social-list .trigger {
    transition: transform 0.3s ease;
    cursor: pointer;
    min-width: 30px;
    display: flex;
    justify-content: center;
}

#intro .join-community .social-list .trigger.closed {
    transform: rotateX(180deg);
}

#intro .join-community .social-list .trigger img {
    max-width: 15px;
}

#intro .join-community .social-list ul li {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    height: 40px;
}

#intro .join-community .social-list ul li a {
    display: flex;
    align-items: center;
    justify-content: center;
}

#intro .join-community #comModel {
    height: 116px;
    width: 116px;
    position: absolute;
    left: 0;
    bottom: 10px;
    transform: translateY(-35%);
    cursor: pointer;
}

#intro .join-community #comModel img {
    max-width: 100%;
}

.close-video-slider {
    position: absolute;
    top: 1%;
    left: 1%;
    opacity: 0;
    max-width: 0;
    max-height: 0;
    transition: opacity 0.3s ease;
    z-index: 1;
}
.close-video-slider.show {
    opacity: 1;
    max-height: max-content;
    max-width: max-content;
}

.close-video-slider p {
    padding: 0;
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
    font-family: "Burbank Big Regular", sans-serif;
    cursor: pointer;
    margin: 0;
    padding: 10px 15px;
}

#intro .custom_video_parent {
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    max-width: 0;
    max-height: 0;
    transition: opacity 3s ease;
}
@media (max-width: 767px) {
    #intro .custom_video_parent {
        padding-left: 20px;
        padding-right: 20px;
    }
}

#intro .custom_video_parent.show {
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
    opacity: 1;
    padding-bottom: 50px;
}

#intro .custom_video_parent.show:focus-visible,
#intro .custom_video_parent.show .flickity-viewport:focus-visible,
#intro .custom_video_parent.show .flickity-slider:focus-visible,
#intro .custom_video_parent.show .video-slider:focus-visible,
#intro .custom_video_parent.show .custom_video_parent_child:focus-visible {
    outline: none;
}

#intro .custom_video_parent .custom_video_parent_child {
    display: flex;
    justify-content: center;
    width: 50%;
}
@media (max-width: 767px) {
    #intro .custom_video_parent .custom_video_parent_child {
        width: 100%;
    }
}

#intro .custom_video_parent .custom_video_parent_child .et_pb_module_inner,
#intro .custom_video_parent .flickity-button {
    display: none;
}

#intro .custom_video_parent.show .custom_video_parent_child .et_pb_module_inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 75%;
    filter: blur(5px);
    transform: translateY(20%);
    transition: width 0.3s ease, filter 0.3s ease, transform 0.3s ease;
}

#intro .custom_video_parent .custom_video_parent_child.is-selected .et_pb_module_inner {
    width: 100%;
    filter: blur(0px);
    transform: translateY(0%);
}

#intro .custom_video_parent .custom_video_parent_child .et_pb_module_inner .video {
    position: relative;
}

#intro .custom_video_parent .custom_video_parent_child .et_pb_module_inner .video img {
    max-width: 100%;
}

#intro .custom_video_parent .custom_video_parent_child .et_pb_module_inner .play-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 125px;
    height: 125px;
    border-radius: 100%;
    background-color: #ffffffCC;
}
@media (max-width: 767px) {
    #intro .custom_video_parent .custom_video_parent_child .et_pb_module_inner .play-btn {
        width: 50px;
        height: 50px;
    }
}
#intro .custom_video_parent .custom_video_parent_child .et_pb_module_inner .play-btn svg {
    width: 100%;
}
#intro .custom_video_parent .custom_video_parent_child .et_pb_module_inner .play-btn svg path {
    transition: fill 0.3s ease;
}

#intro .custom_video_parent .custom_video_parent_child .et_pb_module_inner .play-btn:hover svg path {
    fill: #FFB803;
}

#intro .custom_video_parent .custom_video_parent_child .et_pb_module_inner .content {
    margin-top: 24px;
    text-align: center;
}

#intro .custom_video_parent .custom_video_parent_child .et_pb_module_inner .content h3 {
    font-size: 40px;
    font-family: var(--font);
    font-weight: 600;
    margin: 0 0 10px 0;
}

#intro .custom_video_parent .custom_video_parent_child .et_pb_module_inner .content p {
    font-size: 16px;
    max-width: 500px;
    margin: 0 auto;
}

#intro .custom_video_parent .custom_video_parent_child .et_pb_module_inner .content h3,
#intro .custom_video_parent .custom_video_parent_child .et_pb_module_inner .content p {
    opacity: 0;
    max-height: 0;
    color: #fff;
    transition: opacity 0.3s ease, max-height 0.3s ease;
}

#intro .custom_video_parent .custom_video_parent_child.is-selected .et_pb_module_inner .content h3,
#intro .custom_video_parent .custom_video_parent_child.is-selected .et_pb_module_inner .content p {
    opacity: 1;
    max-height: 200px;
}

#intro .custom_video_parent.show .flickity-button {
    display: block;
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    width: 100px;
    height: 100px;
    background-color: transparent;
    outline: none;
    border: none;
    display: flex;
    align-items: center;
    justify-self: center;
    cursor: pointer;
}
@media (max-width: 1279px) {
    #intro .custom_video_parent.show .flickity-button {
        top: 35%;
    }
}
@media (max-width: 1023px) {
    #intro .custom_video_parent.show .flickity-button {
        top: 30%;
    }
}
@media (max-width: 767px) {
    #intro .custom_video_parent.show .flickity-button {
        top: 25%;
    }
}

#intro .custom_video_parent .flickity-button svg {
    display: none;
}

#intro .custom_video_parent .flickity-button::before {
    content: '';
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 80px;
    width: 80px;
    background-image: url("https://devwp.visibleone.io/p215/wp-content/uploads/2022/12/arrow-neo.png");
    filter: brightness(0) invert(1);
    transition: all 0.3s ease;
}

#intro .custom_video_parent .flickity-button:hover::before {
    filter: brightness(1) invert(0);
    scale: 1.2;
}
@media (max-width: 767px) {
    #intro .custom_video_parent .flickity-button::before {
        height: 40px;
        width: 40px;
    }
}

#intro .custom_video_parent .flickity-button.next::before {
    transform: rotate(180deg);
}

#intro .custom_video_parent .flickity-button.next {
    right: 10%;
}
#intro .custom_video_parent .flickity-button.previous {
    left: 10%;
}
@media (max-width: 767px) {    
    #intro .custom_video_parent .flickity-button.next {
        right: -35px;
    }
    #intro .custom_video_parent .flickity-button.previous {
        left: 5px;
    }
}

#intro .custom-modal {
    display: flex;
    position: fixed;
    z-index: -100;
    height: 0;
    width: 0;
    opacity: 0;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    background-color: #000000CC;
    transition: all 0.3s ease;
    box-sizing: border-box;
    top: 0;
    left: 0;
}

#intro .custom-modal.show {
    z-index: 100001;
    height: 100%;
    width: 100%;
    padding: 20px;
    opacity: 1;
}

#intro .custom-modal .modal-content {
    width: 70vw;
    height: calc(70vw * 9/16);
    position: relative;
}
/* @media (max-width: 1279px) {
    #intro .custom-modal .modal-content {
        max-width: 900px;
        height: calc(900px * 9/16);
    }
}
@media (max-width: 1023px) {
    #intro .custom-modal .modal-content {
        max-width: 700px;
        height: calc(700px * 9/16);
    }
} */
@media (max-width: 767px) {
    #intro .custom-modal .modal-content {
        width: calc(100vw - 40px);
        height: calc(calc(100vw - 40px) * 9/16);
    }
}

#intro .custom-modal .modal-content .close-modal {
    position: absolute;
    top: -20px;
    right: 0;
    transform: translateY(-100%);
    height: 35px;
    width: 35px;
}

#intro .custom-modal .modal-content .close-modal img {
    max-width: 100%;
}

#intro .custom-modal .modal-content video {
    max-width: inherit;
    height: inherit;
}

/*================ End of Intro Section =================*/

/*================ Game Features Section =================*/
#gameFeatures {
    overflow: hidden;
    min-height: 100vh;
    position: relative;
}

#gameFeatures .feature-wrapper {
    box-sizing: border-box; /* Opera/IE 8+ */
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box; /* Firefox, other Gecko */
    min-height: 100vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px 80px;
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    transform: translateY(100%);
}

#gameFeatures .feature-wrapper.active {
    transform: translateY(0);
}

#gameFeatures .feature-wrapper video {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#gameFeatures > div:nth-last-child(2) {
    min-height: calc(100vh + 200px);
    /* padding-bottom: 200px; */
}
@media (max-width: 1279px) {
    #gameFeatures .feature-wrapper {
        padding: 100px 50px 0px 50px;
    }
}
@media (max-width: 767px) {
    #gameFeatures .feature-wrapper:nth-child(odd) {
        padding: 0px 20px 50px 20px;
    }

    #gameFeatures .feature-wrapper:nth-child(even) {
        padding: 50px 20px 0px 20px;
    }

    #gameFeatures > div:nth-last-child(2) {
        min-height: calc(100vh + 150px);
        padding-bottom: 150px;
    }
}

@keyframes gfScrollUp {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    100% {
        transform: translateY(0%);
    }
}
#gameFeatures .feature-wrapper .feature-content {
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
    z-index: 1;
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
    transform: translateY(100%);
    opacity: 0;
}
@media (max-width: 1279px) {
    #gameFeatures .feature-wrapper .feature-content {
        flex-wrap: wrap;
    }
}
@media (max-width: 767px) {
    #gameFeatures .feature-wrapper:nth-child(odd) .feature-content {
        flex-wrap: wrap-reverse;
    }
}

#gameFeatures .feature-wrapper .feature-content.animated {
    transform: translateY(0%);
    opacity: 1;
    animation-name: gfScrollUp;
    animation-iteration-count: 1;
    animation-duration: 2s;
    animation-timing-function: ease;
}

#gameFeatures .feature-wrapper .feature-content .info {
    width: 50%;
}
@media (max-width: 1279px) {
    #gameFeatures .feature-wrapper .feature-content .info {
        width: 100%;
    }
}

#gameFeatures .feature-wrapper:nth-child(odd) .feature-content .info {
    margin-left: auto;
}

#gameFeatures .feature-wrapper .feature-content .info .title,
#gameFeatures .feature-wrapper .feature-content .info .description {
    box-sizing: border-box; /* Opera/IE 8+ */
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box; /* Firefox, other Gecko */
}

#gameFeatures .feature-wrapper .feature-content .info .title {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: start;
    align-items: center;
    background: linear-gradient(to right, #522a74, #583477);
    border-radius: 40px 20px 60px 0px;
    padding: 38px 80px;
}

#gameFeatures .feature-wrapper .feature-content .info .title::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    inset: 0;
    background: url("https://devwp.visibleone.io/p215/wp-content/uploads/2022/12/bgStars.png") no-repeat;
    background-position: right;
    background-size: auto 100%;
}

#gameFeatures .feature-wrapper .feature-content .info .title h5 {
    font-size: 4rem;
    color: #fff;
    font-weight: 600;
    margin: 0;
    position: relative;
    font-family: "Burbank Big Regular", sans-serif;
    text-transform: uppercase;
}
@media (max-width: 1559px) {
    #gameFeatures .feature-wrapper .feature-content .info .title {
        border-radius: 35px 15px 45px 0px;
        padding: 25px 50px;
    }

    #gameFeatures .feature-wrapper .feature-content .info .title h5 {
        font-size: 2.5rem;
    }
}
@media (max-width: 767px) {
    #gameFeatures .feature-wrapper .feature-content .info .title {
        border-radius: 20px 10px 20px 0px;
        padding: 20px;
    }

    #gameFeatures .feature-wrapper .feature-content .info .title h5 {
        font-size: 1.875rem;
    }
}

#gameFeatures .feature-wrapper .feature-content .info .description {
    width: 95%;
    background: rgba(0, 0, 0, 0.85);
    border-radius: 0px 0px 20px 20px;
    padding: 48px 80px;
    color: #fff;
}
@media (max-width: 1559px) {
    #gameFeatures .feature-wrapper .feature-content .info .description {
        padding: 30px 50px;
    }
}
@media (max-width: 767px) {
    #gameFeatures .feature-wrapper .feature-content .info .description {
        padding: 10px 20px;
    }
}

#gameFeatures .feature-wrapper .feature-content .info .description p {
    font-size: 1.5rem;
    color: #fff;
    font-weight: 500;
    line-height: 38px;
    font-family: "Montserrat", sans-serif;
}
@media (max-width: 1559px) {
    #gameFeatures .feature-wrapper .feature-content .info .description p {
        font-size: 1.25rem;
    }
}
@media (max-width: 767px) {
    #gameFeatures .feature-wrapper .feature-content .info .description p {
        font-size: 1rem;
        line-height: 25px;
    }
}

#gameFeatures
    .feature-wrapper
    .feature-content
    .info
    .description
    .img-container {
    margin-block: 3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
#gameFeatures
    .feature-wrapper
    .feature-content
    .info
    .description
    .img-container
    img {
    width: 100%;
}

#gameFeatures .feature-wrapper .feature-content .model {
    width: 55%;
    position: absolute;
    z-index: 2;
}

#gameFeatures .feature-wrapper .feature-content .model .click {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}
#gameFeatures .feature-wrapper .feature-content .model.clicked .click {
    opacity: 1;
}
#gameFeatures .feature-wrapper .feature-content .model.clicked .idle {
    opacity: 0;
}

@media (min-width: 1280px) {
    #gameFeatures .feature-wrapper:nth-child(odd) .feature-content .model {
        left: 0;
    }
    #gameFeatures .feature-wrapper:nth-child(even) .feature-content .model {
        right: 0;
    }
}

@media (max-width: 1279px) {
    #gameFeatures .feature-wrapper .feature-content .model {
        position: relative;
        width: 60%;
        margin-left: auto;
        margin-right: auto;
        bottom: 35px;
    }
}
@media (max-width: 1024px) {
    #gameFeatures .feature-wrapper .feature-content .model {
        width: 100%;
    }
}
@media (max-width: 767px) {
    #gameFeatures .feature-wrapper:nth-child(odd) .feature-content .model {
        bottom: -35px;
    }
}

#gameFeatures .feature-wrapper .feature-content .model canvas,
#gameFeatures .feature-wrapper .feature-content .model img {
    width: 100%;
    height: auto;
}

#gameFeatures .indicator {
    position: absolute;
    right: 2%;
    top: 50%;
    transform: translateY(-50%);
}
@media (max-width: 1279px) {
    #gameFeatures .indicator {
        right: unset;
        top: unset;
        left: 1.5%;
        bottom: 0;
    }
}
@media (max-width: 767px) {
    #gameFeatures .indicator {
        left: unset;
        bottom: unset;
        right: 1.5%;
        top: 50%;
    }
}

#gameFeatures .indicator ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#gameFeatures .indicator ul li:not(:last-child) {
    margin-bottom: 14px;
}

#gameFeatures .indicator ul li a {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: #ffffff;
    opacity: 0.5;
    transition: all 0.3s ease;
}
@media (max-width: 767px) {
    #gameFeatures .indicator ul li a {
        width: 15px;
        height: 15px;
    }
}

#gameFeatures .indicator ul li a.active,
#gameFeatures .indicator ul li a:hover {
    transform: scale(1.2);
    background-color: #ffcb00;
    opacity: 1;
}
/*================ End of Game Features Section =================*/
